.container {
  padding: 4rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex: 1;
  height: 100vh;
  overflow: hidden auto;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.titleHeader {
  color: #fff;
  font-weight: normal;
}
.subtitleHeader {
  font-size: 1.5rem;
  font-weight: normal;
}
.containerSelect {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.selectYear {
  border-radius: 2px;
  padding: 0.5rem 2rem;
  height: max-content;
  background-color: transparent;
  color: #fff;
  border: 2px solid var(--sideBarFontColor);
}
.selectYear:focus {
  outline: none;
}
.selectYear option {
  background-color: var(--sideBarDarkMode);
}
@media (max-width: 600px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
