.container {
  width: 100%;
  min-height: 40rem;
  height: 60rem;
  max-height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .container {
    height: 40rem;
    max-height: 40rem;
  }
}