@import 'normalize.css';
:root {
  --sideBarDarkMode: #31334a;
  --sideBarLightMode: #f5f5f5;
  --mainDarkMode: #202234;
  --mainLightMode: #f5f5f5;
  --sideBarFontColor: #808190;
  --sideBarActiveColor: #ffffff;
  --sideBarActiveAndHoverElement: #3c3e5b;
  --buttonPrincipalColor: #5965e7;
  --buttonPrincipalHoverColor: #4f59cb;
}
html {
  font-size: 62.5%;
  height: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: var(--mainDarkMode);
  color: var(--sideBarFontColor);
  height: 100%;
}
